                </form>
                <div class="buttoncontainer">
                    <div class="buttonwidth">
                        <div class="button buttonvote">Vote</div>
                    </div>
                    <div class="buttonwidth">
                        <div class="button buttonresults">Results</div>
                    </div>
                </div>
                <div class="results"></div>
                <div class="answers_id n">{{n}}</div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script charset="UTF-8" type="text/javascript" src="js/vote5.js"></script>
    </body>
</html>