<div class="answers">
    <img class="image image{{n}}" {{src}} onclick="votingClick({{n}})" />
    <div class="container">
        <div class="answer answer{{n}}">{{answer}}</div>
        <div class="barcontainer">
            <div class="bar bar{{n}}" {{back}}></div>
        </div>
        <div class="static">
            <div class="count count{{n}}"></div>
            <div class="perc perc{{n}}" {{color}}></div>
        </div>
    </div>
    <div class="answers_id id{{n}}">{{id}}</div>
</div>